/* index.html 1p */
#main {  /* index.html 배경 */
    background-image: url('image/Lo-Fi Coffee, Bogdan mB0sco.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
#title {
    font-size: 50px;
    font-family: 'Nabla';
    text-indent: 1em;
}
header a {
    text-decoration-line: none;
}
.indexbtn {
    background-color:transparent;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: fixed;
    top:515px;
    left:30%;
}
/* setup.html */
.setup {  /* setup.html 배경 */
    background: rgba(0, 0, 0, 0.7) url('image/Lo-Fi Coffee, Bogdan mB0sco.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
article h1, footer h1 {
    font-family: 'Nabla';
    position: relative;
    top: 50px;
    left: 100px;
    font-size: 200%;
}
#navi, #youtube {
    text-align: center;
}
#navi > li, #youtube > li {
    display: inline-block;
    position: relative;
}
#navi > li > a, #youtube > li > a {
    display: block; 
    position: relative;
    margin-right: 100px;
    margin-left: 100px;
    text-decoration-line: none;
}
#navi > li > a > img {
    width: 225px;
    height: 225px;
    margin-bottom: 20px;
}
#navi > li > a > span {
    position: relative;
    color: white;
    font-size: 150%;
    /*글꼴 바꾸고 싶음*/
}
#bts {
    object-fit: cover;
}
#youtube > li > a > img {
    width: 70px;
    height: 70px;
}
#youtube > li > a > span {
    position: relative;
    color: white;
    font-size: 100%;
}
