/* index.html 1p */
#main {  /* index.html 배경 */
    background-image: url('../image/Lo-Fi Coffee, Bogdan mB0sco.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
#title {
    font-size: 50px;
    font-family: 'Nabla';
    text-indent: 1em;
}
.indexbtn {
    background-color:transparent;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position:fixed;
    top:515px;
    left:30%;
}
/* setup.html */
.setup {  /* setup.html 배경 */
    background: rgba(0, 0, 0, 0.7) url('../image/Lo-Fi Coffee, Bogdan mB0sco.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
.container {
    /*overflow: hidden;*/
    /* position: relative; */
    text-align: center;
}
.container img {
    /* position: absolute; */
    /* float: left; */
    width: 225px;
    height: 225px;
    margin: 100px;
}
#bts {
    object-fit: cover;
}
.text {
    text-align: center;
}
.text h3 {
    size: 100px;
}